<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <!-- Meta -->
    <meta name="description" content="{{ SITENAME }} &ndash; {{ SITESUBTITLE }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Social -->
    {% if article %}
    <meta property="article:author" content="{{ article.author }}" />
    <meta property="article:section" content="{{ article.category }}" />
    <meta property="article:published_time" content="{{ article.date.strftime("%Y-%m-%d") }}" />

    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title|striptags }}"/>
    <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
    {% elif page %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ SITESUBTITLE }}"/>
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
    <meta property="og:image" content="{{ AUTHOR_AVATAR }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ SITESUBTITLE }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ page.url }}">
    <meta name="twitter:image" content="{{ AUTHOR_AVATAR }}">
    {% else %}
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SITESUBTITLE }}"/>
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:url" content="{{ SITEURL }}"/>
    <meta property="og:image" content="{{ AUTHOR_AVATAR }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SITESUBTITLE }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:image" content="{{ AUTHOR_AVATAR }}">
    {% endif %}

    <!-- Feed -->
    {% if FEED_ALL_ATOM %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=(category.slug)) }}" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=(category.slug)) }}" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=(tag.slug)) }}" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=(tag.slug)) }}" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% if DISQUS_SITENAME %}
    <link rel="alternate" type="application/rss+xml" href="https://{{ DISQUS_SITENAME }}.disqus.com/latest.rss" title="{{ SITENAME }} Comments RSS Feed">
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:regular,bold">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/w3.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/jqcloud.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments-highlight-github.css">
    {% if MINIMALXY_CUSTOM_CSS %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ MINIMALXY_CUSTOM_CSS }}">
    {% endif %}

    <!-- Icon -->
    {% if MINIMALXY_FAVICON %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/{{ MINIMALXY_FAVICON }}">
    {% endif %}

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/jqcloud.min.js"></script>
  </head>

  <body>
    <div class="w3-row w3-card w3-white">
      <header id="header">
        {% if " " in AUTHOR %}
        <a href="{{ SITEURL }}" id="header-logo" title="Home">{{ AUTHOR[0] + AUTHOR[AUTHOR.index(" ")+1] }}</a>
        {% else %}
        <a href="{{ SITEURL }}" id="header-logo" title="Home">{{ AUTHOR[0] }}</a>
        {% endif %}
        <nav id="header-menu">
          <ul>
            {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
            <li{% if p==page %} class="active" {% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
            {% if cat != DEFAULT_CATEGORY %}
            <li class="w3-bottombar w3-border-white w3-hover-border-green" {% if cat == category %}style="font-weight: bold;"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% for title, link in MENUITEMS %}
            <li class="w3-bottombar w3-border-white w3-hover-border-green"><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </header>
    </div>

    {% block content_title %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer id="footer">
      <div id="footer-copyright" class="w3-center w3-small w3-text-grey w3-padding-48">
        <span>
          &copy;
          {% if MINIMALXY_START_YEAR and MINIMALXY_CURRENT_YEAR %}
          {{ MINIMALXY_START_YEAR }}{% if MINIMALXY_START_YEAR != MINIMALXY_CURRENT_YEAR %}&dash;{{ MINIMALXY_CURRENT_YEAR }}{% endif %}
          {% endif %}
          {{ AUTHOR }}
          {% if FEED_ALL_ATOM %} | <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom feed <i class="fa fa-rss" aria-hidden="true"></i></a>{% endif %}
        </span>
      </div>
    </footer>

    {% if GOOGLE_ANALYTICS %}
      {% include "ga.html" %}
    {% endif %}

    {% if PIWIK_URL and PIWIK_SITE_ID %}
      {% include "piwik.html" %}
    {% endif %}

  </body>
</html>
